/* ---------- Reckoner ---------- */
@font-face {
    font-family: 'Reckoner';
    src: url('../assets/fonts/Reckoner/Reckoner.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Reckoner';
    src: url('../assets/fonts/Reckoner/Reckoner_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ---------- Titillium Web ---------- */
@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/TitilliumWeb/TitilliumWeb-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/TitilliumWeb/TitilliumWeb-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/TitilliumWeb/TitilliumWeb-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* Курсивні стилі */
@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/TitilliumWeb/TitilliumWeb-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/TitilliumWeb/TitilliumWeb-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/TitilliumWeb/TitilliumWeb-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/TitilliumWeb/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Web';
    src: url('../assets/fonts/TitilliumWeb/TitilliumWeb-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
